{
    "HOST": "localhost:8000",
    "DEBUG": true,
    "ENC_IV": "",
    "ENC_KEY": "",
    "SECRET_KEY": "",
    "USE_CSRF_TOKENS": true,
    "CSRF_SECRET": "",
    "AVATAR_STORAGE_PATH": "/tmp/passman/avatars",
    "USE_SSL": true
}